<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi Restful TV Shows</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p><a href="/shows/" id="link">Go Back</a></p>
    <h2>TV Show {{ show.id }}</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">Title: {{ show.title }}</li>
        <li class="list-group-item list-group-item-secondary">Network: {{ show.network }}</li>
        <li class="list-group-item list-group-item-secondary">Release Date: {{ show.release_date }}</li>
        {% if show.description %}
            <li class="list-group-item list-group-item-secondary">Description: {{ show.description }}</li>
        {% endif %}
    </ul><br>
    <p>Last update: {{ show.updated_at }}</p>
    <div id="actions_container">
        <ul id="actions">
            <li><a href="/shows/{{ show.id }}/edit/">Edit</a></li>
            <li>|</li>
            <li><a href="/shows/{{ show.id }}/destroy/">Delete</a></li>
        </ul>
    </div>
</body>
</html>